body {
    justify-content: center;
    position: fixed;
    inset: 0;
    box-sizing: border-box;
}

body.light-theme {
    background-color: white;
    color: black;
}

body.dark-theme {
    background-color: black;
    color: white;    
}

.info {
    margin-left: 33%;    
}
.info2 {
    margin-left: 15%;    
}
.content-container {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    margin-top: -10px;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    height: 200px;
    cursor: pointer;
}

#resume-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #333;
}

/* Измененный класс для увеличения фото */
#resume-photo.enlarged {
    transform: scale(1.1); /* Увеличение на 10% */
}

fieldset {
    border: none;
    width: 600px;
    padding: 0;
    overflow: hidden;
}

fieldset > label input[type=radio] {
    display: none;
}

fieldset > label > span {
    padding: 15px 20px;
    display: block;
    cursor: pointer;
    font-weight: 900;
    text-transform: uppercase;
    background: #a3a1a1;
    border-radius: 10px;
}

fieldset > label > div {
    display: grid;
    grid-template-rows: 0fr;
    transition: all ease-in-out 300ms;
    overflow: hidden;
    padding: 10px;
}

fieldset > label input[type=radio]:checked + div {
    grid-template-rows: 1fr;
}

fieldset > label > div > p {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

#sphere-wrap {
    margin-top: -330px;
    width: 33%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#sphere {
    width: 100%;
    height: 100%;
    background: rgb(2, 0, 5);
}

.ref {
    display: flex;
    justify-content: space-evenly;
    font-size: 2em;
}

.item_1{
    color: azure;
    background-color: rgb(6, 6, 6);
    font-size: larger;
}

#brown {
    background: rgb(10, 10, 10);
}
.scrolling-text {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    animation: scrollText 30s linear infinite;
}

@keyframes scrollText {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
@media only screen and (max-width: 768px) {
    body {
        position: static;
    }
    .info, .info2 {
        margin-left: 5%;
    }
    .content-container {
        flex-direction: column;
        align-items: center;
    }
    .photo-container {
        width: 90%;
        margin: 10px auto;
    }
    #resume-photo {
        width: 60%; /* Уменьшение размера фото на 30% */
        height: auto; /* Поддержание соотношения сторон */
        transition: transform 0.3s ease-in-out; /* Плавный переход */
    }
    fieldset {
        width: 100%;
    }
    #sphere-wrap {
        margin-top: 0;
        width: 100%;
        height: auto;
    }
    .ref {
        flex-direction: column;
        align-items: center;
    }
    .scrolling-text {
        animation: none; /* Отключение анимации на маленьких экранах */
        overflow: visible;
    }
    
}
